<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.GoodesMapper">

<select id="findUserPage"  parameterType="goodsVo" resultType="goodsVo">
select g.*,t.typename AS tname from goods g,goodstype t where g.typeid=t.typeid
<if test="name!=null and name!=''">
and g.name like '%${name}%'
</if>
<if test="typeid!=null and typeid!=0">
and g.typeid=#{typeid}
</if>
</select>

<select id="echartsFindAll" resultType="goodsVo">
 SELECT
 t.typename AS tname,
 COUNT( g.id ) AS num 
 FROM goodstype t
LEFT JOIN goods g ON
 t.typeid=g.id 
 GROUP BY
  t.typeid
  </select>
</mapper>